{{ define "main"}}package {{ .IntfPack }}

{{ if .Imports }}
import ({{ range .Imports }}
    "{{ . }}"{{ end }}
){{ end }}


{{ range .Structs }}
{{ $sName := .Name }}
{{ $write := .Writeable }}

type {{ .Name }}Get interface {
    MarshalJSON() ([]byte, error)
{{ range .Fields }}{{ if not .SQLOnly }}
    {{ .Name }}() {{ if eq .Type "sql.NullInt64" }}int{{ else }}{{ .Type }}{{ end }} {{ end }}{{ end }}
}
type {{ .Name }}Set interface {
    UnmarshalJSON([]byte) error
    DELETE()
{{ if $write }}{{ range .Fields }}{{ if .Update }}
    Set{{ .Name }}({{ if eq .Type "sql.NullInt64" }}int{{ else }}{{ .Type }}{{ end }}) {{ end }}{{ end }}{{ end }}
} 

type {{ .Name }}Dat interface {
    {{ .Name }}Get
    {{ .Name }}Set 
}


{{ end }}

{{ end }}
